.benefits {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    flex-basis: calc((100% - 60px) / 3);
    /* transform: box-shadow 0.2s; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .benefits__image {
    display: block;
  }
  .benefits__overlay {
    position: relative;
    overflow: hidden;
  }
  .benefits__item:hover,
  .benefits__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .benefits__overlay:hover .overlay {
    transform: translateY(0);
  }
  .benefits__item:hover .overlay {
    transform: translateY(0);
  }